/**
 * set of helper classes to be used across the app
 */


.h-truncate-text { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.h-desktop-only { 
    display: none;
    @media screen and (min-width: $scr-md){
        display: unset;
    }
}

.h-mobile-only { 
    @media screen and (min-width: $scr-md){ display: none; }
}