/**
 * this is for keeping the Iframe aspect ration constant across all devices
 */
.c-video-embed { 
    padding-top: 56.25%;
    position: relative;
}
    .c-video-embed__iframe { 
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
